<div class="set-new-password-container">
    <h3>Set New Password</h3>
    <form (ngSubmit)="resetPassword()">
      <label for="newPassword">New Password:</label>
      <input id="newPassword" type="password" [(ngModel)]="newPassword" name="newPassword" required>
  
      <label for="confirmNewPassword">Confirm New Password:</label>
      <input id="confirmNewPassword" type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
  
      <button type="submit">Reset Password</button>
      <div *ngIf="resetErrorMessage" class="error">{{ resetErrorMessage }}</div>
      <div *ngIf="resetSuccessMessage" class="success">{{ resetSuccessMessage }}</div>
    </form>
</div>
